<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="emitter" name="Emitter" schema="schema/emitter.exsd"/>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="schema-json"
            id="org.mfg.mdbplugin.schema-content-type"
            name="MDB Schema"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.mfg.mdbplugin.ui.editors.MDBSchemaEditor"
            default="true"
            extensions="schema-json"
            icon="icons/table.gif"
            id="org.mfg.mdbplugin.schemaEditor"
            name="MDB Schema Editor">
         <contentTypeBinding
               contentTypeId="org.mfg.mdbplugin.schema-content-type">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.mfg.mdbplugin.ui.editors.MDBFileEditor"
            default="false"
            icon="icons/table.gif"
            id="org.mfg.mdbplugin.ui.editors.mdbfile"
            name="MDB File Editor">
      </editor>
      <editor
            class="org.mfg.mdbplugin.ui.editors.DiffEditor"
            default="false"
            icon="icons/table.gif"
            id="org.mfg.mdbplugin.ui.editors.diff"
            name="MDB Diff Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.mfg.mdbplugin.ui.mdbcategory"
            name="MFG Database">
      </category>
      <wizard
            category="org.mfg.mdbplugin.ui.mdbcategory"
            class="org.mfg.mdbplugin.ui.wizards.NewSchemaWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/table.gif"
            id="org.mfg.mdbplugin.ui.wizards.newSchema"
            name="MFG Database Schema"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,org.eclipse.pde.ui.PDEPerspective"
            project="false">
         <description>
            Create new MFG Database schema.
         </description>
         <keywordReference
               id="org.mfg.mdbplugin.ui.wizards.newSchema.keywords">
         </keywordReference>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="org.mfg.mdbplugin.ui.wizards.newSchema.keywords"
            label="MDB">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut
               id="org.mfg.mdbplugin.ui.wizards.newSchema">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.pde.ui.PDEPerspective">
         <newWizardShortcut
               id="org.mfg.mdbplugin.ui.wizards.newSchema">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.mfg.mdbplugin.ui.perspective">
         <newWizardShortcut
               id="org.mfg.mdbplugin.ui.wizards.newSchema">
         </newWizardShortcut>
         <viewShortcut
               id="org.mfg.mdbplugin.ui.views.navigator">
         </viewShortcut>
         <view
               id="org.mfg.mdbplugin.ui.views.navigator"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <viewShortcut
               id="org.eclipse.jdt.ui.PackageExplorer">
         </viewShortcut>
         <view
               id="org.eclipse.jdt.ui.PackageExplorer"
               minimized="false"
               relationship="top"
               relative="org.mfg.mdbplugin.ui.views.navigator">
         </view>
         <perspectiveShortcut
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.pde.ui.PDEPerspective">
         </perspectiveShortcut>
         <view
               id="org.mfg.mdbplugin.ui.views.schema"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.jdt.ui.PackageExplorer">
         </view>
         <viewShortcut
               id="org.mfg.mdbplugin.ui.views.schema">
         </viewShortcut>
      </perspectiveExtension>
   </extension>

 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="menu:org.eclipse.ui.main.menu?after=additions">
       <menu
             id="org.mfg.mdbplugin.ui.menus.main"
             label="MFG Database">
          <command
                commandId="org.mfg.mdbplugin.ui.commands.refreshAllWorkspace"
                label="Refresh Workspace"
                style="push">
          </command>
          <command
                commandId="org.mfg.mdbplugin.ui.commands.addconnections"
                style="push">
          </command>
          <command
                commandId="org.mfg.mdbplugin.ui.commands.openallschemas"
                style="push">
          </command>
       </menu>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="popup:org.mfg.mdbplugin.ui.views.navigator?after=additions">
       <command
             commandId="org.mfg.mdbplugin.ui.commands.addconnections"
             style="push">
       </command>
       <separator
             name="org.mfg.mdbplugin.separator1"
             visible="true">
       </separator>
       <command
             commandId="org.eclipse.ui.file.import"
             style="push">
       </command>
       <command
             commandId="org.eclipse.ui.file.export"
             style="push">
       </command>
       <separator
             name="org.mfg.mdbplugin.separator2"
             visible="true">
       </separator>
       <command
             commandId="org.eclipse.ui.file.refresh"
             style="push">
       </command>
       <separator
             name="org.mfg.mdbplugin.separator3"
             visible="true">
       </separator>
       <command
             commandId="org.mfg.mdbplugin.ui.commands.merge"
             style="push">
       </command>
       <command
             commandId="org.mfg.mdbplugin.ui.commands.diff"
             style="push">
       </command>
       <separator
             name="org.mfg.mdbplugin.separator4"
             visible="true">
       </separator>
       <command
             commandId="org.mfg.mdbplugin.ui.commands.backup"
             icon="icons/backup.png"
             style="push">
       </command>
       <command
             commandId="org.mfg.mdbplugin.ui.commands.backupfile"
             icon="icons/backup.png"
             style="push">
       </command>
       <command
             commandId="org.mfg.mdbplugin.ui.commands.restore"
             icon="icons/db.png"
             style="push">
       </command>
       <separator
             name="org.mfg.mdbplugin.separator5"
             visible="true">
       </separator>
       <command
             commandId="org.eclipse.ui.edit.delete"
             style="push">
       </command>
       <command
             commandId="org.eclipse.ui.edit.rename"
             style="push">
       </command>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="popup:org.eclipse.ui.popup.any?before=additions">
       <command
             commandId="org.mfg.mdbplugin.commands.locatefile"
             style="push">
       </command>
    </menuContribution>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="org.mfg.mdbplugin.ui.handlers.RemoveFileHandler"
          commandId="org.eclipse.ui.edit.delete">
       <activeWhen>
          <with
                variable="selection">
             <iterate
                   ifEmpty="false">
                <or>
                   <instanceof
                         value="java.lang.String">
                   </instanceof>
                   <instanceof
                         value="org.mfg.mdb.runtime.BackupVersion">
                   </instanceof>
                   <instanceof
                         value="java.io.File">
                   </instanceof>
                </or>
             </iterate>
          </with>
       </activeWhen>
    </handler>
    <handler
          class="org.mfg.mdbplugin.ui.handlers.RenameFileHandler"
          commandId="org.eclipse.ui.edit.rename">
       <activeWhen>
          <with
                variable="selection">
             <and>
                <iterate
                      ifEmpty="false">
                   <instanceof
                         value="java.io.File">
                   </instanceof>
                </iterate>
                <count
                      value="1">
                </count>
             </and>
          </with>
       </activeWhen>
    </handler>
    <handler
          class="org.mfg.mdbplugin.ui.handlers.MergeFilesHandler"
          commandId="org.mfg.mdbplugin.ui.commands.merge">
       <activeWhen>
          <with
                variable="selection">
             <and>
                <iterate
                      ifEmpty="false">
                   <instanceof
                         value="java.io.File">
                   </instanceof>
                </iterate>
                <count
                      value="(1-">
                </count>
             </and>
          </with>
       </activeWhen>
    </handler>
    <handler
          class="org.mfg.mdbplugin.ui.handlers.DiffHandler"
          commandId="org.mfg.mdbplugin.ui.commands.diff">
       <activeWhen>
          <with
                variable="selection">
             <and>
                <count
                      value="2">
                </count>
                <iterate
                      ifEmpty="false">
                   <instanceof
                         value="java.io.File">
                   </instanceof>
                </iterate>
             </and>
          </with>
       </activeWhen>
    </handler>
    <handler
          class="org.mfg.mdbplugin.ui.handlers.RefreshConnectionsHandler"
          commandId="org.eclipse.ui.file.refresh">
       <activeWhen>
          <with
                variable="activePartId">
             <equals
                   value="org.mfg.mdbplugin.ui.views.navigator">
             </equals>
          </with>
       </activeWhen>
    </handler>
    <handler
          class="org.mfg.mdbplugin.ui.handlers.MakeBackupHandler"
          commandId="org.mfg.mdbplugin.ui.commands.backup">
       <activeWhen>
          <with
                variable="selection">
             <iterate
                   ifEmpty="false">
                <instanceof
                      value="java.lang.String">
                </instanceof>
             </iterate>
          </with>
       </activeWhen>
    </handler>
    <handler
          class="org.mfg.mdbplugin.ui.handlers.RestoreVersionHandler"
          commandId="org.mfg.mdbplugin.ui.commands.restore">
       <activeWhen>
          <with
                variable="selection">
             <iterate
                   ifEmpty="false">
                <instanceof
                      value="org.mfg.mdb.runtime.BackupVersion">
                </instanceof>
             </iterate>
          </with>
       </activeWhen>
    </handler>
    <handler
          class="org.mfg.mdbplugin.ui.handlers.MakeOneFileBackupHandler"
          commandId="org.mfg.mdbplugin.ui.commands.backupfile">
       <activeWhen>
          <with
                variable="selection">
             <iterate>
                <instanceof
                      value="java.io.File">
                </instanceof>
             </iterate>
          </with>
       </activeWhen>
    </handler>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          defaultHandler="org.mfg.mdbplugin.ui.handlers.CopyMDBLibIntoProject"
          description="Copy MDB Library into Project"
          id="org.mfg.mdbplugin.ui.commands.copyLib"
          name="Copy MDB Library into Project">
    </command>
    <command
          defaultHandler="org.mfg.mdbplugin.ui.handlers.RefreshWorkspaceHandler"
          description="Refresh all the projects in the Workspace"
          id="org.mfg.mdbplugin.ui.commands.refreshAllWorkspace"
          name="Refresh Workspace">
    </command>
    <command
          defaultHandler="org.mfg.mdbplugin.ui.handlers.AddConnectionsHandler"
          description="Add Connections"
          id="org.mfg.mdbplugin.ui.commands.addconnections"
          name="Add Connections">
    </command>
    <command
          defaultHandler="org.mfg.mdbplugin.ui.handlers.OpenAllSchemasHandler"
          description="Open All Schemas of the Workspace"
          id="org.mfg.mdbplugin.ui.commands.openallschemas"
          name="Open All Schemas">
    </command>
    <command
          description="Merge files of the same table."
          id="org.mfg.mdbplugin.ui.commands.merge"
          name="Merge">
    </command>
    <command
          description="Compute the difference between two MDB files with the schema."
          id="org.mfg.mdbplugin.ui.commands.diff"
          name="Diff">
    </command>
    <command
          description="Make a backup of the selected database."
          id="org.mfg.mdbplugin.ui.commands.backup"
          name="Backup Database">
    </command>
    <command
          description="Restore the selected version."
          id="org.mfg.mdbplugin.ui.commands.restore"
          name="Restore Version">
    </command>
    <command
          description="Make a backup only with the selected file"
          id="org.mfg.mdbplugin.ui.commands.backupfile"
          name="Backup File">
    </command>
    <command
          defaultHandler="org.mfg.mdbplugin.ui.handlers.LocateFileHandler"
          id="org.mfg.mdbplugin.commands.locatefile"
          name="Locate in File System">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.bindings">
    <key
          commandId="org.mfg.mdbplugin.ui.commands.refreshAllWorkspace"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M2+M3+F5">
    </key>
    <key
          commandId="org.mfg.mdbplugin.commands.locatefile"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M2+L">
    </key>
 </extension>
 <extension
       point="org.eclipse.ui.views">
    <category
          id="org.mfg.mdbplugin.view.category"
          name="MFG Database">
    </category>
    <view
          allowMultiple="false"
          category="org.mfg.mdbplugin.view.category"
          class="org.mfg.mdbplugin.ui.views.MDBConnectionsView"
          icon="icons/table.gif"
          id="org.mfg.mdbplugin.ui.views.navigator"
          name="MDB Connections"
          restorable="true">
    </view>
    <view
          category="org.mfg.mdbplugin.view.category"
          class="org.mfg.mdbplugin.ui.views.MDBSchemasView"
          icon="icons/table.gif"
          id="org.mfg.mdbplugin.ui.views.schema"
          name="MDB Schemas"
          restorable="true">
    </view>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.viewer">
    <viewer
          viewerId="popup:com.mfg.symbols.ui.views.navigator?after=group.new">
    </viewer>
    <viewerContentBinding
          viewerId="org.mfg.mdbplugin.ui.views.navigator">
       <includes>
          <contentExtension
                isRoot="true"
                pattern="org.mfg.mdbplugin.ui.views.navigator.content">
          </contentExtension>
       </includes>
    </viewerContentBinding>
    <viewerContentBinding
          viewerId="org.mfg.mdbplugin.ui.views.schema">
       <includes>
          <contentExtension
                isRoot="true"
                pattern="org.mfg.mdbplugin.ui.views.schemacontent">
          </contentExtension>
       </includes>
    </viewerContentBinding>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent
          contentProvider="org.mfg.mdbplugin.ui.ConnectionsContentProvider"
          id="org.mfg.mdbplugin.ui.views.navigator.content"
          labelProvider="org.mfg.mdbplugin.ui.ConnectionsLabelProvider"
          name="MDB Connections Content">
       <commonSorter
             class="org.mfg.mdbplugin.ui.ConnectionsSorter">
       </commonSorter>
       <triggerPoints>
          <equals
                value="org.mfg.mdbplugin.ui.views.connections">
          </equals>
       </triggerPoints>
    </navigatorContent>
    <navigatorContent
          contentProvider="org.mfg.mdbplugin.ui.SchemasContentProvider"
          id="org.mfg.mdbplugin.ui.views.schemacontent"
          labelProvider="org.eclipse.ui.model.WorkbenchLabelProvider"
          name="MDB Schemas">
       <triggerPoints>
          <instanceof
                value="org.eclipse.core.resources.IWorkspace">
          </instanceof>
       </triggerPoints>
    </navigatorContent>
 </extension>
 <extension
       point="org.eclipse.ui.elementFactories">
    <factory
          class="org.mfg.mdbplugin.adapters.MDBFileEditorInputFactory"
          id="org.mfg.mdbplugin.adapters.mdbfileinputfactory">
    </factory>
 </extension>
 <extension
       point="org.eclipse.ui.perspectives">
    <perspective
          class="org.mfg.mdbplugin.ui.MDBPerspective"
          icon="icons/table.gif"
          id="org.mfg.mdbplugin.ui.perspective"
          name="MDB">
    </perspective>
 </extension>
 <extension
       point="org.eclipse.ui.exportWizards">
    <category
          id="org.mfg.mdbplugin.ui.wizards.exportcategory"
          name="MFG Database">
    </category>
    <wizard
          category="org.mfg.mdbplugin.ui.wizards.exportcategory"
          class="org.mfg.mdbplugin.ui.wizards.ExportRowsWizard"
          icon="icons/table.gif"
          id="org.mfg.mdbplugin.ui.wizards.exportrows"
          name="MDB Rows">
    </wizard>
    <wizard
          category="org.mfg.mdbplugin.ui.wizards.exportcategory"
          class="org.mfg.mdbplugin.ui.wizards.ExportCSVWizard"
          icon="icons/table.gif"
          id="org.mfg.mdbplugin.wizard1"
          name="CSV">
    </wizard>
 </extension>
 <extension
       point="org.eclipse.ui.importWizards">
    <category
          id="org.mfg.mdbplugin.ui.wizards.importcategory"
          name="MFG Database">
    </category>
    <wizard
          category="org.mfg.mdbplugin.ui.wizards.importcategory"
          class="org.mfg.mdbplugin.ui.wizards.ImportCSVWizard"
          icon="icons/table.gif"
          id="org.mfg.mdbplugin.ui.wizards..importcsv"
          name="CSV">
    </wizard>
    <wizard
          category="org.mfg.mdbplugin.ui.wizards.importcategory"
          class="org.mfg.mdbplugin.ui.wizards.ImportSchemaFromCSVFileWizard"
          icon="icons/table.gif"
          id="org.mfg.mdbplugin.ui.wizards.importCsvSchema"
          name="MDB Schema from CSV File">
    </wizard>
 </extension>
 <extension
       point="org.eclipse.core.runtime.adapters">
    <factory
          adaptableType="org.mfg.mdb.compiler.Table"
          class="org.mfg.mdbplugin.adapters.TableWorkbenchAdapterFactory">
       <adapter
             type="org.eclipse.ui.model.IWorkbenchAdapter">
       </adapter>
    </factory>
 </extension>
 <extension
       point="org.eclipse.jdt.core.classpathContainerInitializer">
       <classpathContainerInitializer id="org.mfg.mdbplugin.classpathcontainer" class="org.mfg.mdbplugin.classpath.ContainerInitializer"/>
 </extension>
 <extension
       point="org.eclipse.jdt.ui.classpathContainerPage">
    <classpathContainerPage
          class="org.mfg.mdbplugin.classpath.ClasspathContainerPage"
          id="org.mfg.mdbplugin.classpathcontainer"
          name="MDB Runtime">
    </classpathContainerPage>
 </extension>


</plugin>
