<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.mfg.mdbplugin.emitter">
      <emitter
            factory="com.mfg.mdbplugin.ext.TokenMDBExtension">
      </emitter>
      <emitter
            factory="com.mfg.mdbplugin.ext.TokenMDBSessionExtension">
      </emitter>
   </extension>

</plugin>
